p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}


ul {
    margin: 0;
    padding-left: 0;
}


button {
    cursor: pointer;
}

address {
    font-style: normal;
}



body {
    font-family: 'Roboto', sans-serif;
    color: #212121;

}



.link {
    text-decoration: none;
}


.container {
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}



.header {
    padding-top: 24px;
    padding-bottom: 25px;
}


.header-info-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    margin-right: 50px;
    display: flex;

}


.header-info {
    display: flex;
}

.header-list {
    display: flex;
}


.hero {
    width: 100%;
    padding-top: 200px;
    padding-bottom: 200px;
}


.hero_content {
    width: 1070px;
    margin-bottom: 94px;
    margin-top: 94px;
    margin-left: auto;
    margin-right: auto;
}

.about,
.mail,
.number {
    color: #757575;
    cursor: pointer;
}


.mail,
.number {
    font-weight: 500;
}

.about,
.footer_number,
.footer_number {
    font-weight: 400;
}



.footer_number,
.footer_mail {
    font-weight: 500;
    color: #757575;
    cursor: pointer;
}

.skill-text-list {
    display: flex;
}


.skill-text {
    margin-right: 30px;

    width: 270px;

}

.skill-text:last-child {
    margin-right: 0;
}


.we {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.17;

    letter-spacing: 0.03em;

    color: #757575;

}



.page {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;

    color: #212121;


}


.main_page {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
}


.footer {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    background-color: #2F303A;
    color: #757575;
}


.footer_adress {
    color: white;
}

.footer_adress:hover {
    color: #2196F3;
}


.footer_mail:hover {
    color: #2196F3;
}


.footer_number:hover {
    color: #2196F3;
}




.main_title {
    color: white;
    font-size: 44px;
    line-height: 60px;
    background-color: #2F303A;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;


}


.main-title-one {
    width: 700px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin: 0 auto 40px auto;
}




ul {
    list-style: none
}

.filter_link,
.buy {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
}


.filter_link {
    color: #212121;
    font-weight: 500;
}




.buy {
    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    background-color: #2196F3;
}


.filter_link:hover {
    color: #ffffff;
    background-color: #2196F3;
}

.header_stroke:hover {
    color: #2196F3;
}


.mail:hover {
    color: #2196F3;
}

.number:hover {
    color: #2196F3;
}

.header_stroke {
    color: #212121;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.02em;
    cursor: pointer;
}


.logo_header_1 {
    color: black;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    display: flex;
    margin-right: 50px;
}


.logo_footer_1 {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
}



.logo_header {
    color: #2196F3;
}

.logo_footer {
    color: #2196F3;
}